.title {
  font-weight: 800;
  text-align: center;
}

.product-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border-color: blanchedalmond;
  box-shadow: 0px 0px 80px 20px #ff1563;
  background: rgb(0, 0, 0);
}
  
  