.category-list {
    list-style: none;
    margin-top: 5rem;
    padding: 0;
    width: 90%;
    max-width: 40rem;
  }
  
  .category-card-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .category-card-group .card {
    flex: 1 1 calc(30% - 1rem);
    margin: 0.5rem;
    max-width: calc(20% - 1rem);
    max-height: calc(10% - 1rem);
  }