.name {
    text-align: center;
    overflow: auto;
    font-size: x-large;
    color: black;
}

.category-card {
    min-width: 20rem;
    max-width: 32rem;
    min-height: 20rem;
    max-height: 32rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.card-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}