.product-list {
    list-style: none;
    margin-top: 5rem;
    padding: 0;
    width: 90%;
    max-width: 40rem;
  }
  
  .custom-card-group {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .custom-card-group .card {
    flex: 1 1 calc(33.33% - 1rem);
    margin: 0.5rem;
    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
    max-width: calc(50% - 1rem);
    max-height: calc(0% - 1rem);
  }